/*Floats*/

.float-r{
    float: right;
}
.float-l{
    float: left;
}
.clear{
    clear: both;
}
/*First Section Style*/
.container{
    width: 1190px;
    margin: 80px auto;
}
.food-food{
 font-weight: bold;
 font-size: 14px;
 color: #5863F8;
 transition: all 0.9s;
 text-transform: uppercase;
}
.Restaurant-H:hover{
    color: chocolate;
}
.h5-box{
    width: 498px;
}
.Menu-H{
    font-weight: bolder;
    font-size: 42px;
    animation: Color 10s infinite alternate;
}
/*Color Animation*/
@keyframes Color {
  
   10%{
    color: red;
   }
   20%{
       color: orange;
   }
   30%{
       color: yellow;
   }
   40%{
       color: green;
   }
   50%{
       color: blue;
   }
   60%{
       color: indigo;
   }
   70%{
       color: violet;
   }
   80%{
       color: black;
   }
   90%{
       color: rgb(18, 18, 134);
   }
   100%{
       color: rgb(114, 126, 7);
   }
}
/*Boxs*/
.main-container{
   margin-top: 60px;
}
.box-box{
    margin-left: 15px;
    margin-top: 40px;
}
.fresh-h{
    font-weight: bolder;
    font-size: 18px;
}
.box-p{
    color: #B1B1B1;
    font-size: 14px;
    width: 260px;
}
.top{
    margin-top: 10px;
}
.box-width{
    width: 536px;
}
.top-box{
   background-color:#F8F8F8;
}
.bottom-box{
    background-color: #F8F8F8;
    margin-left: 15px;
}
/*2 Section Style*/
.top-cont{
    margin-top: 20px;
}
.box1{
    width: 353px;
    text-align: center;
    height: 150px;
    background-color: #F8F8F8;
}
.p-size{
    width: 260px;
    margin: 0 auto;
}
.floats{
    margin-left: 15px;
}
